{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Classroom</title>
        <link rel="stylesheet" href="{% static 'lms/styles.css' %}">
        <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/kg-neatly-printed">
        {% block script %}
        {% endblock %}
    </head>
    <body>

        <div class="topnav">
            {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Log Out</a>
            {% else %}
                    <a href="{% url 'login' %}">Log In</a>
                    <a href="{% url 'register' 'STUDENT' %}">RegisterStudent</a>
                    <a href="{% url 'register' 'TEACHER' %}">RegisterTeacher</a>   
            {% endif %}
        </div>

        {% block body %}
        {% endblock %}
    </body>
</html>