{% extends "lms/layout.html" %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div id="login-form">
        <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
            <p><label for="username">Username: </label>
            <input autofocus id='username' type="text" name="username" class="login-input"></p>
            <p><label for="password">Password: </label>
            <input id='password' type="password" name="password" class="login-input"></p>
            <input type="submit" value="Log In" id="login-button" class="my-button">
        </form>
    </div>

{% endblock %}