{% extends "lms/layout.html" %}
{% load static %}

{% block body %}
    <div id="subjects-view"></div>
    <div id="one-subject-view"></div>
    <div id="one-assignment-view">
        <div id="create">
            <h3>New Assignment</h3>
            <div id="assign-form">
                <form id="create-assignment">
                {{ form.as_p }}
                </form>
            </div>
            <div id="question-form-empty" style="display:none">
                <form>
                    <p>
                        <div class='label-div'><label>Question:</label></div>
                        <input type="text" name="text"/>
                    </p>
                    <p>
                        <div class='label-div'><label>Answer:</label></div>
                        <input type="text" name="answer"/>
                    </p>
                </form>
            </div>
            <h3>Questions</h3>
            <div id="question-list"></div>
            <button id="add-question">Add Question</button>
            <button id="save-assignment">Save Assignment</button>
        </div>
        <div id="show-assignment"></div>
        <div id="questions-container"></div>
    </div>
    <div id="submissions-view"></div>
    <div id="one-submission-view"></div>
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'lms/teacher.js' %}"></script>
{% endblock %}