{% extends "lms/layout.html" %}
{% load static %}

{% block body %}
    <div id="subjects-view"></div>
    <div id="one-subject-view"></div>
    <div id="one-assignment-view">
        <div id="create">
            <h3>New Assignment</h3>
            <form id="create-assignment">
                {{ form.as_p }}
            </form>
            <form style="display:none" id="question-form-empty">
                <p>
                    <label>Question: </label>
                    <input type="text" name="text"/>
                </p>
                <p>
                    <label>Answer: </label>
                    <input type="text" name="answer"/>
                </p>
            </form>
            <h3>Questions</h3>
            <div id="question-list"></div>
            <button id="add-question">Add question</button>
            <button id="save-assignment">Save</button>
        </div>
        <div id="show-assignment"></div>
        <div id="questions-container"></div>
    </div>
    <div id="submissions-view"></div>
    <div id="one-submission-view"></div>
    <div id="notifications-view"></div>
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'lms/teacher.js' %}"></script>
{% endblock %}